div.timeline-frame {
	background: #FAFAFA;
	border-color:rgb(237, 237, 237);
	border-top-width:0;
	border-bottom-width:0;
	border-left-width:4px;
	border-right-width:4px;
}

div.timeline-axis {
}

div.timeline-axis-grid {
}

div.timeline-axis-grid-minor {
    border-style: dotted;
    border-width: 1px;
}

div.timeline-axis-grid-major {
}

div.timeline-axis-text {
}

div.timeline-event {
}

div.timeline-event-selected {
    background: #FFBBBB;
}

div.timeline-event.timeline-event-box {
    font-family: "signikasemibold", "futura-pt", Arial, sans-serif;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border: none;
    color:#FAFAFA;
    background: #F33;
}

div.timeline-event.timeline-event-dot {
    border: none;
    padding: 4px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background: #188e7c;
    /*background: #FF3333;*/
}

div.timeline-event.timeline-event-range {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border: none;
    background: none;
    /*border-bottom:solid 8px #F33;*/
    border-bottom:solid 8px #188e7c;
    /*border-left:solid 2px #F33;
    border-right:dotted 1px #F33;*/
}

div.timeline-frame div.timeline-event-dot-container {
}

div.timeline-event-range-drag-left {
}

div.timeline-event-range-drag-right {
}

div.timeline-event-line {
    border-color:#F33;

}

div.timeline-event-content {
	font-size: 14px;
    overflow: hidden;
    margin: 1px 2px;
}

div.timeline-groups-axis {
}

div.timeline-groups-axis-onleft {
}

div.timeline-groups-axis-onright {

}

div.timeline-groups-text {

}

div.timeline-currenttime {

}

div.timeline-customtime {
}

div.timeline-navigation{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

div.timeline-navigation-new, div.timeline-navigation-delete,
div.timeline-navigation-zoom-in, div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left, div.timeline-navigation-move-right {

}

div.timeline-navigation-new-line {
}

div.timeline-navigation-delete {

}

div.timeline-selectable div.timeline-event {
    cursor: pointer;
}

div.timeline-selectable div.timeline-event-content {
    cursor: pointer;
}

div.timeline-event-selected div.timeline-event-content {
    cursor: move;
}


div#event_detail{
    width: 271px;
    min-height: 350px;
    float:right;
    display: none;
    padding-left:20px;
    font-size: 8px;
    border-left: 1px solid rgb(204, 204, 204);
}

div#event_detail h4.tag{
    display: none;
}

div#event_detail article,div#event_detail .pb2, div#event_detail .pbt1{
    padding:0;
    margin: 0;
    border:0;
}

div#event_detail .post, div#event_detail .post_content{
    width:auto;
}

div#event_detail .post_content h2{
    background: none;
    color:#F33;
    font-size: 2.2em;
    padding:1px 0 0;
}

div#event_detail .post h2.titre{
    margin-top:0;
    background: none;
    color:#F33;
    font-size: 2.2em;
    padding:1px 0 0;
}

.post_content div#event_detail h3{
    font-size: 1.8em;
}


div#event_detail .tags{
    display: none;
}

div#event_detail .normal{
    font-size:1.8em;
}

div#event_detail img{
    max-width: 100%;
    height: auto;
}

div#mytimeline .post{
    width: auto;
}

div#mytimeline .timeline-event-dot-container.post,
div#mytimeline .timeline-event-dot.post{
    border-bottom:0;
}

div.timeline-event.timeline-event-range.tag-psu{
    border-bottom:solid 8px #F33;
}

div.timeline-event.timeline-event-dot.tag-psu{
    background: #F33;
}

h4.underline{
    text-decoration: underline;
}

.legende span:before{
    content:" ";
    display: inline-block;
    background: #188e7c;
    padding: 4px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    margin-right: 5px;
    margin-left: 10px;
}

.legende span.psu:before{
     background: #F33;
}

#mytimeline{
     margin-top:0px;
}