div.timeline-frame {
	background: #FAFAFA;
	border-color:#CCCCCC;
	border-top-width:0;
	border-bottom-width:0;
	border-left-width:3px;
	border-right-width:3px;
}

div.timeline-axis {
}

div.timeline-axis-grid {
}

div.timeline-axis-grid-minor {
}

div.timeline-axis-grid-major {
}

div.timeline-axis-text {
}

div.timeline-event {
}

div.timeline-event-selected {
}

div.timeline-event.timeline-event-box {

}

div.timeline-event.timeline-event-dot {
    border: 0;
    padding: 4px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background: #FF3333;
}

div.timeline-event.timeline-event-range {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border: none;
    background: none;
    border-bottom:solid 8px #F33;
}

div.timeline-frame div.timeline-event-dot-container {
}

div.timeline-event-range-drag-left {
}

div.timeline-event-range-drag-right {
}

div.timeline-event-line {

}

div.timeline-event-content {
	text-align: left;
	font-size: 14px;
}

div.timeline-groups-axis {
}

div.timeline-groups-axis-onleft {
}

div.timeline-groups-axis-onright {

}

div.timeline-groups-text {

}

div.timeline-currenttime {

}

div.timeline-customtime {
}

div.timeline-navigation{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

div.timeline-navigation-new, div.timeline-navigation-delete,
div.timeline-navigation-zoom-in, div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left, div.timeline-navigation-move-right {

}

div.timeline-navigation-new-line {
}

div.timeline-navigation-delete {

}

div.timeline-selectable div.timeline-event {
    cursor: pointer;
}

div.timeline-selectable div.timeline-event-content {
    cursor: pointer;
}

div.timeline-event-selected div.timeline-event-content {
    cursor: move;
}