@charset "UTF-8";

/*
 * www.KNACSS.com V2.5b @author: Raphael Goetter, Alsacreations
 * Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
 */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- reset
2- layout and modules
3- header
4- sidebar
5- footer
6- forms
7- main
8- iefix
9- print
10- desktop medias
11- mobile
*/

/* ----------------------------- */
/* ==reset */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
@font-face {
    font-family: 'signikabold';
    src: url('fonts/signika-bold.eot');
    src: url('fonts/signika-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/signika-bold.woff') format('woff'),
         url('fonts/signika-bold.ttf') format('truetype'),
         url('fonts/signika-bold.svg#signikabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikasemibold';
    src: url('fonts/signika-semibold.eot');
    src: url('fonts/signika-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/signika-semibold.woff') format('woff'),
         url('fonts/signika-semibold.ttf') format('truetype'),
         url('fonts/signika-semibold.svg#signikasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('fonts/signika-regular.eot');
    src: url('fonts/signika-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/signika-regular.woff') format('woff'),
         url('fonts/signika-regular.ttf') format('truetype'),
         url('fonts/signika-regular.svg#signikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikalight';
    src: url('fonts/signika-light.eot');
    src: url('fonts/signika-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/signika-light.woff') format('woff'),
         url('fonts/signika-light.otf') format('truetype'),
         url('fonts/signika-light.svg#signikalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #ededed;
	color: #000;
	font-family: "signikalight", helvetica, arial, sans-serif;
}

.invisible{
	display: none;
}

#page{
	width:1000px;
	margin:auto;
	background-color:#fff;
}

.super_biggest{
	font-size:3.6em;
	line-height:1em;
}

.very_biggest{
	font-size:3.3em;
	line-height:1em;
}

.little_very_biggest{
	font-size:3em;
	line-height:1em;
}

.very_bigger{
	font-size:2.4em;
	line-height:1em;
}

.biggest{
	font-size:1.8em;
	font-style:italic;
}

.bigger{
	font-size:2em;
	line-height:1.1em;
}

.big{
	font-size:1.8em;
	line-height:1.2em;
}

.normal{
	font-size:1.6em;
	line-height:1.2em;
}

.small{
	font-size:1.5em;
	line-height:1.25em;
}

.little_small{
	font-size:1.4em;
	line-height: 1em;
}

.smaller{
	font-size:1.3em;
}

.smallest{
	font-size:1.2em;
}

.very_smaller{
	font-size:1.1em;
}

.very_smallest{
	font-size:1em;
}

#menus li > a, #nuage_sidebar a, footer #nuage a, h3#comments, h3#comments_bis, #filtres p.filtre, #filtres > div.conteneur > section > div > p, 
#filtres #filtres_actifs li:after, .post_content .texte_image p span{
	font-family:"futura-pt", sans-serif;
	font-weight:300;
	font-style:normal;
}

#logo h2{
	font-family:"futura-pt", sans-serif;
	font-weight:400;
	font-style:italic;
}

textarea, #liste_images figure > div.grand_format h4, #liste_images figure > div.grand_format h5{
	font-family:"futura-pt", sans-serif;
	font-weight:400;
	font-style:normal;
}

#sur_menu li a, #logo h1, #menu_sidebar li a, #actualites div.row > article > h4, #agenda article > h4, h3.date, #meme_theme h3, 
#meme_theme a.recherche, .pagination a, .pagination span.current, .pagination span.dots, #regards .row > article > h4, #agenda article > h3, 
.post_content .texte_image h2, #centre .newsletter input[type="submit"], .with_frm_style input[type="submit"], #commentform input[type="submit"], 
.nsu-form input[type="submit"], aside section > h3 > a, aside section h3 > span{
	font-family:"futura-pt", sans-serif;
	font-weight:700;
	font-style:normal;
}

footer a, #sous_categories > ul > li > a, #frise a#regards,
#frise ul > li > a , h3#comments span, h3#comments_bis span, .commentmetadata p, #respond, p.nocomments{
	font-family:"futura-pt", sans-serif;
	font-weight:500;
	font-style:normal;
}

h3#comments .titre, h3#comments_bis .titre{
	font-family:"futura-pt", sans-serif;
	font-weight:700;
	font-style:italic;
}

h3.titre, h2.titre, h2.titre a, #entete h1{
	font-family:"futura-pt", sans-serif;
	font-weight:800;
	font-style:normal;
}

#entete h1 a{
	font-family:"futura-pt", sans-serif;
	font-weight:800;
	font-style:italic;
}

#centre .with_frm_style .submit input[type="submit"], #centre .frm_form_submit_style {
	font-family:"futura-pt", sans-serif;
	font-weight:700;
	font-style:normal;
}

h2.titre a{
	line-height:1.1em;
}

#agenda article:hover > h3, #agenda article:hover > h4, #agenda article:hover > div > p, #logo > h1, #sur_menu li a:hover, #regards a.suite:hover, 
#actualites:hover article *, section#regards article:hover *, #meme_theme li:hover, .post + #meme_theme li:hover, #regards a.suite:hover span, #actualites:hover span, 
#meme_theme li:hover a, .post + #meme_theme li:hover a, .post + #meme_theme li:hover:before, footer a:hover, footer #nuage a:hover, a.suite:hover span, #menu_sidebar li a:hover, 
#nuage_sidebar a:hover, #sous_categories > ul > li > a:hover, .pagination a:hover, li.telechargement a:hover, article.post_archive.resume:hover *, article.post_archive.search a:hover,
#frise.biographie a:hover, section.sidebar li a:hover, #frise ul > li > a:hover, .post_archive a:hover, .post_content li.telechargement:hover, 
.post_content a:hover, .post_archive li.telechargement:hover, #entete li.telechargement:hover, #newsletter li.telechargement:hover, .post_content li.telechargement:hover, #texte_tag li:hover,
a.suite:hover:before, #actualites:hover p.suite:before, #meme_theme li:hover:before, article.post_archive.resume:hover a.suite:before, aside .sidebar a:hover{
	color:#188e7c;
}

a, #menus li.current-menu-item > a, #menus li.current-page-ancestor > a, #menus #menu_secondaire li.current-menu-item > a, #menu_sidebar li.current-menu-item a, 
#sur_menu li.current-menu-item > a, #nuage_sidebar a.actif, #agenda article > h3, h3.titre, h2.titre, h2.titre a, a.suite, 
#meme_theme li, li.telechargement, p.suite, a.suite span, #meme_theme li a, li.telechargement a, p.suite span, #entete h1, #entete h1 a, 
#frise ul > li.actif a, #sous_categories > ul > li > a.actif, #filtres > div.conteneur > section li.actif, #frise a#regards.actif, #sous_categories > ul > li.actif a{
	color:#ff3333;
}

.post_content a{
	text-decoration: underline;
}

article.post_archive.resume:hover h4.tag span{
	background:#188e7c;
}

/*article.post_archive.resume:hover h3.date span{
	background: url("img/puce_auteur_actif.png") no-repeat scroll left center transparent;
}

article.post_archive.resume:hover .categories_et_tags span.tags {
    background: url("img/puce_tags_actif.png") no-repeat scroll left 4px transparent;
}*/

#menus li > a:hover, #menus #menu_secondaire a:hover{
	color:#fff;
}

/*#menus li > a, #regards a.suite span, #meme_theme li a, #menu_sidebar li a, #nuage_sidebar a, #sur_menu li a, footer a, 
footer #nuage a, a.suite span, #sous_categories > ul > li > a, .pagination a, li.telechargement a, section.sidebar li a {
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	-ms-transition: color .2s ease-out; 
	-khtml-transition: color .2s ease-out;
	transition: color .2s ease-out;
}*/


/* soft reset */
html,body,textarea,figure,label,h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 0em;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	/*word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;*/
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
	position: absolute;
}
.skip-links a {
	position: absolute;
	left: -9999px;
	padding: 0.5em;
	background: #000;
	color:#fff;
	text-decoration: none;
}
.skip-links a:focus {
	position: static;
}


/* table layout */
/* ------------------ */
.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.row > *,
.col {
	display: table-cell;
	vertical-align: top;
}

/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
	clear: both;
}

/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
	content: "";
	display: table;
	clear: both;
}

/* alignments (blocks and inline) */
/* ------------------------------ */

/* left elements */
.left {
	float: left;
}
img.left {
	margin-right: 1em;
}

/* right elements */
.right {
	float: right;
}
img.right {
	margin-left: 1em;
}

img.left, img.right {
	margin-bottom: 5px;
}

.center    { margin: auto; }
.txtleft   { text-align: left; }
.txtright  { text-align: right; }
.txtcenter { text-align: center; }

/* just inline-block */
.inbl {
	display: inline-block;
	vertical-align: top;
	margin-right: -.25em;
}

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n = small(10px),medium(20px),large(30px),none(0)
source https://github.com/stubbornella/oocss/blob/master/core/spacing/space.css
*/
.m-reset, .ma0 { margin: 0; }
.p-reset, .pa0 { padding: 0; }
.ma1, .mas { margin: 10px; }
.ma2, .mam { margin: 20px; }
.ma3, .mal { margin: 30px; }
.pa1, .pas { padding: 10px; }
.pa2, .pam { padding: 20px; }
.pa3, .pal { padding: 30px; }
.pa4, .pasl { padding: 40px; }

.mt0, .mtn { margin-top: 0; }
.mt1, .mts { margin-top: 10px; }
.mt2, .mtm { margin-top: 20px; }
.mt3, .mtl { margin-top: 30px; }
.mt4, .mtsl { margin-top: 40px; }
.mr0, .mrn { margin-right: 0; }
.mr1, .mrs { margin-right: 10px; }
.mr2, .mrm { margin-right: 20px; }
.mr3, .mrl { margin-right: 30px; }
.mr4, .mrsl { margin-right: 40px; }
.mb0, .mbn { margin-bottom: 0; }
.mb1, .mbs { margin-bottom: 10px; }
.mb2, .mbm { margin-bottom: 20px; }
.mb3, .mbl { margin-bottom: 30px; }
.mb4, .mbsl { margin-bottom: 40px; }
.ml0, .mln { margin-left: 0; }
.ml1, .mls { margin-left: 10px; }
.ml2, .mlm { margin-left: 20px; }
.ml3, .mll { margin-left: 30px; }
.ml4, .mlsl { margin-left: 40px; }

.pt0, .ptn { padding-top: 0; }
.pt1, .pts { padding-top: 10px; }
.pt2, .ptm { padding-top: 20px; }
.pt3, .ptl { padding-top: 30px; }
.pt4, .ptsl { padding-top: 40px; }
.pr0, .prn { padding-right: 0; }
.pr1, .prs { padding-right: 10px; }
.pr2, .prm { padding-right: 20px; }
.pr3, .prl { padding-right: 30px; }
.pr4, .prsl { padding-right: 40px; }
.pb0, .pbn { padding-bottom: 0; }
.pb1, .pbs { padding-bottom: 10px; }
.pb2, .pbm { padding-bottom: 20px; }
.pb3, .pbl { padding-bottom: 30px; }
.pb4, .pbsl { padding-bottom: 40px; }
.pl0, .pln { padding-left: 0; }
.pl1, .pls { padding-left: 10px; }
.pl2, .plm { padding-left: 20px; }
.pl3, .pll { padding-left: 30px; }
.pl4, .plsl { padding-left: 40px; }


/* ----------------------------- */
/* ==header */
/* ----------------------------- */
#sur_menu{
	position:absolute;
	top:20px;
	right:200px;
}

#recherche{
	position:absolute;
	top:14px;
	right:8px;
}

header{
	position:relative;
	padding-top:35px;
}

#logo{
	padding-left:275px;
	margin-bottom:20px;
	margin-top:-5px;
}

#logo > h1{
	text-transform:uppercase;
	margin-bottom: 5px;
}

#logo > img{
	position:absolute;
	right:30px;
	top:50px;
}

header > h1{
	background: url("img/logo.png") no-repeat scroll 0 0 transparent;
    height: 222px;
    left: 0;
    position: absolute;
    top: 0;
    width: 259px;
    z-index: 1;
}

header > h1 > a{
	height: 222px;
	width: 259px;
	display: block;
}

#sur_menu li{
	float:left;
	margin-right:15px;
}

#sur_menu li a{
	text-transform: uppercase;
	color:#333;
}

#menus{
	background:#000;
	height:30px;
	padding-left:185px;
	margin-bottom:85px;
}

#menus li{
	float:left;
}

#menus li > a{
	text-transform:uppercase;
	color:#ddd;
	display:block;
	float:left;
	padding:5px 15px;
	font-weight:700;
	position:relative;
	z-index:2;
}

#menus #menu_secondaire a{
	color:#bbb;
}

#menu_secondaire{
	float:right;
}

#menus #menu_secondaire li:last-child a{
	padding-right: 0px;
}

#searchform input[type="submit"]{
	border:none;
	background:url('img/loupe.png') no-repeat;
	width:16px;
	height:16px;
	cursor: pointer;
}

#searchform input[type="text"], .nsu-form input[type="text"]{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
	font-size:1.2em;
	border: 1px solid #D5D5D5;
	background:#fcfcfc;
	width:150px;
    color: #999999;
    margin-right: 3px;
    padding: 3px 10px 2px 10px;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px; 
	-khtml-border-radius: 2px; 
	border-radius: 3px;
	behavior: url(PIE.php);
}

/* ----------------------------- */
/* ==sidebar */
/* ----------------------------- */

#centre + aside{
	width:200px;
	border-left:1px solid #ccc;
}

#menu_sidebar, #nuage_sidebar{
	line-height:1em;
}

#menu_sidebar li a{
	text-transform: uppercase;
	margin-bottom:3px;
	color:#333;
	display:block;
}

#nuage_sidebar a{
	background: url("img/puce_sidebar.png") no-repeat scroll right 10px transparent;
    color: #666666;
    font-size: 1.05em;
    font-weight: 500;
    padding-right: 7px;
    margin-right: -4px;
}

aside section h3 {
	color:#fff;
	text-transform: uppercase;
	margin-bottom: 15px;
}

aside section h3 > span{
	background-color: #FF3333;
    display: inline-block;
    padding: 1px 6px;
}

/*aside section h3:hover > span{
	background-color:#188e7c;
}*/

#slider p{
	margin: 10px 0 3px;
    text-transform: uppercase;
}

section.sidebar p, section.sidebar li{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
}

section.sidebar p + a.suite, section.sidebar a.suite + p{
	margin-top: 5px;
}

section.sidebar a.suite{
	display: inline-block;
}

section.sidebar img{
	margin-bottom:7px;
}

section.sidebar li{
	font-size:1.3em;
	color:#000;
}

section.sidebar li a{
	color:#666;
}

section.sidebar ul.slider{
	float:right;
	margin-bottom:5px;
}

section.sidebar ul.slider li{
	display:inline;
}

section.sidebar ul.slider li a{
	display:inline-block;
	width:10px;
	height:11px;
	background: url("img/puces_sidebar.png") no-repeat scroll left top transparent;
	margin-left:4px;
}

section.sidebar ul.slider li a:hover{
	background: url("img/puces_sidebar.png") no-repeat scroll left -22px transparent;
}

section.sidebar ul.slider li.actif a{
	background: url("img/puces_sidebar.png") no-repeat scroll left -11px transparent;
}

.textwidget, .nsu-text-before-form{
	font-size:1.5em;
}

.nsu-text-before-form a, .textwidget a{
	font-family: "signikasemibold", "futura-pt", Arial, sans-serif;
	display: inline-block;
	margin-bottom: 5px;
	padding-left: 12px;
	position: relative;
}

.nsu-text-before-form a:before, .textwidget a:before{
	content:' » ';
	position:absolute;
	left:0px;
}

.nsu-text-before-form a span, .textwidget a span{
	text-decoration: underline;
}

.nsu-form{
	margin-top: 10px;
}

.nsu-form input[type="text"]{
	padding:3px 9px 2px;
}

.nsu-form input[type="submit"]{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #B1B1B1;
    font-size: 1.6em;
    height: 18px;
    margin-top: -4px;
    padding: 0;
    text-transform: uppercase;
    width: 26px;
    cursor: pointer;
}

.nsu-form p{
	display: inline-block;
}

.nsu-form div.hidden{
	display:none;
}

.nav_gallerie_sidebar li{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #329687;
	width:10px;
	height:10px;
	display: inline-block;
	margin-left: 3px;
	cursor: pointer;
}

.nav_gallerie_sidebar li.actif{
	background: #f23a3a;
}

.nav_gallerie_sidebar{
	position:absolute;
	right:0px;
	top:0px;
}

.rsg_item{
	float:left;
}

section.sidebar .rsg_item img{
	max-width: 200px;
	margin-bottom: 0;
}

.conteneur_galerie_sidebar{
	overflow:hidden;
	width:200px;
	height:300px;
	position: relative;
	padding-top: 17px;
	margin-top: 3px;
}

.rsgallery{
	position:absolute;
	left:0px;
	top:17px;
}

/* ----------------------------- */
/* ==footer */
/* ----------------------------- */

footer{
	background-color: #555;
}

footer #nuage{
	width:370px;
}

footer li{
	margin-bottom:5px;
}

footer a{
	color:#ededed;
}

footer #nuage a{
	background: url("img/puce_footer.png") no-repeat scroll right 11px transparent;
    color: #EDEDED;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.1;
    margin-right: 1px;
    padding-right: 7px;
}

#menu_footer_2{
	padding-left: 40px;
}

#facebook, #twitter{
	display:inline-block;
	margin: -1px 10px 5px 0px;
}

#facebook{
	float: left;
}

#menu_footer_3{
	clear: both;
}

#menu_footer_2 + div{
	padding-left: 20px;
}

#footer > ul, #footer > div{
	width:180px;
}

/* ----------------------------- */
/* ==forms */
/* ----------------------------- */
form,
fieldset {
	border: none;
}
input,
button,
select,
label {
	vertical-align: middle; /* @bugfix alignment */
}
textarea {
	resize: vertical;
	font-family: inherit;
}

/* ----------------------------- */
/* ==main */
/* ----------------------------- */

#centre{
	clear:both;
	border-right:4px solid #ededed;
}

#agenda h2, #actualites h2, #regards h2, h4.tag{
	text-transform: uppercase;
	margin-bottom:16px;
	font-family:"signikabold", "futura-pt", "Helvetica", sans-serif;
	font-weight:normal;
}

h4.tag a{
	color:#000;
}

.post_archive h4.tag{
	margin-bottom: 10px;
}

.post h4.tag{
	margin-bottom: 0px;
	margin-top:3px;
}

#agenda h2 > span, #actualites h2 > span, #regards h2 > span, h4.tag span{
	display:block;
	float:left;
	margin-right:8px;
	height:10px;
	width:30px;
	background-color: #000;
	margin-top:3px;
}

#agenda{
	height: 500px;
    overflow: hidden;
    position: absolute;
    width: 711px;
    z-index: 2;
    height:300px;
}

#agenda .conteneur{
	left: 30px;
    position: absolute;
}

#agenda article{
	/*background: url("img/fd_agenda.png") repeat scroll 0 0 transparent;*/
	background:#f6f6f6;
    border: 1px solid #E5E5E5;
    float: left;
    min-height: 152px;
    margin-right: 31px;
    width: 164px;
}

#agenda article:hover{
	-moz-box-shadow: 0 0px 8px #ccc;
	-webkit-box-shadow: 0 0px 8px #ccc; 
	box-shadow: 0 0px 8px #ccc;  
}

#agenda article > h3{
	text-transform: uppercase;
	margin-bottom:3px;
}

#agenda article #complet{
	display:none;
}

#agenda article:hover #complet{
	display:block;  
}

#agenda article:hover #resume{
	display:none;  
}


#agenda article > h4, #agenda article > div > p{
	color:#333;
}

#agenda article > div > p{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
	margin-top:4px;
}

#navigation_curseur{
	position: absolute;
    right: 30px;
    top: 10px;
}

#navigation_curseur.large{
	border-top: 3px solid #EDEDED;
    display: none;
    position: absolute;
    right: 3px;
    top: 0;
}

#navigation_curseur.large.organisation{
	top:10px;
}

#navigation_curseur.large.sans{
	border-top: none;
}

#navigation_curseur li{
	display:block;
	float:left;
	margin-left: 8px;
	background: url('img/points_nav.png') no-repeat center 0px;
	height:11px;
	width:10px;
	position: relative;
	z-index:1;
	cursor: pointer;
}

#navigation_curseur.large li{
	margin-left: 0;
    margin-right: 10.9px;
}

#navigation_curseur.large li:last-child{
	margin-right: 0px;
}

#navigation_curseur li.actif{
	background: url('img/points_nav.png') no-repeat center -11px;
}

#navigation_curseur li.super_actif {
    background: url("img/points_nav.png") no-repeat scroll 0 -22px transparent;
    height: 13px;
    margin-right: 9.6px;
    margin-top: -1px;
    width: 12px;
}

#navigation_curseur li.precedent, #navigation_curseur li.suivant, #navigation_curseur li.precedent_tag, #navigation_curseur li.suivant_tag{
	height:12px;
	margin-top: -1px;
}

#navigation_curseur li.precedent, #navigation_curseur li.precedent_tag{
	background: url('img/icn_precedent_nav.png') no-repeat 0px 0px;
}

#navigation_curseur li.suivant, #navigation_curseur li.suivant_tag{
	background: url('img/icn_suivant_nav.png') no-repeat 0px 0px;
}

#navigation_curseur li#curseur, #navigation_curseur li#curseur_large{
	background: none repeat scroll 0 0 #CCCCCC;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 15px;
    left: 14px;
    position: absolute;
    top: -2px;
    width: 54px;
    z-index: 0;
}

#navigation_curseur li#curseur_large{
	left: 13px;
    top: -2px;
    width: 172px;
}

#relatif_tag{
	border-bottom: 1px solid #CCCCCC;
	width: 680px;
	background: url("img/pointille-gris.png") repeat-x scroll left top transparent;
}

#actualites{
	margin:268px 0px 60px;
}

#actualites .row .col:first-child{
	width:300px;
}

#actualites .row .col.sans:first-child{
	display: none;
}

/* desaturation image */
.tint img{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(1);
}

#actualites:hover, section#regards article:hover{
	cursor: pointer;
}

#actualites:hover .tint img{
	filter:none;
	-webkit-filter: grayscale(0);
}


/*.tint {  
    position: relative; 
}  
  
.tint:before {  
    content: "";  
    display: block;  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: rgba(128,128,128, 0.5);  
    -moz-transition: background .3s linear;  
    -webkit-transition: background .3s linear;  
    -ms-transition: background .3s linear;  
    -o-transition: background .3s linear;  
    transition: background .3s linear;  
}  
  
#actualites a.row:hover .tint:before {  
    background: none;  
}*/
/* fin desaturation image */

#actualites div.row > *{
	color:#000;
}

h3.titre, h2.titre, h2.titre a{
	text-transform: uppercase;
	margin-bottom:2px;
	margin-top:-5px;
}

h2.titre, h2.titre a{
	margin-bottom:0;
	margin-top: 0;
}

.post h2.titre{
	margin-top:30px;
	margin-bottom: 2px;
}

.post h3.date{
	margin-bottom: 0;
}

#actualites div.row article > h4, #regards .row > article > h4{
	text-transform: uppercase;
}

/*#actualites a.row > article > h4 > span:before, #regards .row > article > h4 > span:before{
	content:'•';
}*/

#actualites article > div, #regards article > div{
	background:url('img/pointille-gris.png') repeat-x left bottom;
}

#actualites div.row:hover article > div, section#regards:hover article > div{
	background:url('img/pointille-vert.png') repeat-x left bottom;
}

#actualites article > div  p, #regards article > div > p, .post_content p, .post_content li{
	line-height:1.2em;
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
}

.post_content p strong, .post_content li strong{
	font-family: "signikasemibold", "futura-pt", Arial, sans-serif;
	font-weight:normal;
}

.post_content p em, .post_content li em{
	font-family: "futura-pt", Arial, sans-serif;
	font-size:1.05em;
}

.post_content ul{
	margin-top: 10px;
	margin-bottom: 10px;
}

.post_content ul.liste_attachements{
	margin-top: 20px;
	padding-top: 20px;
}

.post_content li, #texte_tag li{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
	margin-bottom: 5px;
}

.post_content li strong, #texte_tag li strong, .post_content p strong, #texte_tag p strong{
	font-family: "signikasemibold", "futura-pt", Arial, sans-serif;
	font-weight: normal;
}

.post_content li, #newsletter li.telechargement{
	position: relative;
	padding-left: 11px;
}

.post_content li.telechargement, .post_archive li.telechargement, #entete li.telechargement, #newsletter li.telechargement{
	font-family: "signikasemibold", "futura-pt", Arial, sans-serif;
}

.post_content li:before, .post_archive li.telechargement:before, #entete li.telechargement:before, #texte_tag li:before, #newsletter li.telechargement:before{
	content:' » ';
}

.post_content li:before, #meme_theme li:before, #newsletter li.telechargement:before{
	position:absolute;
	left:0px;
}

.post_archive li.telechargement:before{
	font-size: 1.5em;
}

#regards .row > article{
	width:420px;
}

#regards .row > article img.alignleft{
	float:left;
	margin-right:1em;
}

#regards .row > article img.alignright{
	float:right;
	margin-left:1em;
}

#actualites > .row, #regards > .row{
	width:680px;
}

a.suite, #meme_theme li, p.suite{
	font-family: "signikasemibold", "futura-pt", Arial, sans-serif;
}

a.suite:before, #meme_theme li:before, p.suite:before{
	content:' » ';
}

a.suite span, #meme_theme li a, li.telechargement a, p.suite span{
	text-decoration: underline;
}

.post_archive li.telechargement a{
	font-size:1.5em;
}

#meme_theme li{
	margin-bottom:3px;
	padding-left:12px;
	position: relative;
}

#meme_theme h3{
	background-color: #FF3333;
    color: #FFFFFF;
    margin-top: 1px;
    padding: 1px 6px 0;
    text-transform: uppercase;
    display: inline-block;
}

#meme_theme p{
	font-family: "signikalight","futura-pt",Arial,sans-serif;
    line-height: 1.2em;
    margin-top:7px;
}

#meme_theme h4{
    text-transform: uppercase;
    margin-top:7px;
    font-family: "signikaregular", "futura-pt", Arial, sans-serif;
    font-weight:normal;
}

#meme_theme a.recherche{
	background: url("img/chevron_blanc.png") no-repeat scroll 168px 6px #FF3333;
    color: #FFFFFF;
    display: block;
    padding: 1px 20px 0px 6px;
    text-transform: uppercase;
    width: 158px;
}

#meme_theme a.recherche:hover{
	background-color:#188e7c;
}

.post + #meme_theme{
	border-top:4px solid #EDEDED;
	border-bottom: 1px solid #CCCCCC;
	width:680px;
	position:relative;
}

.post + #meme_theme h3{
	display: inline-block;
	margin-bottom: 15px;
}

.post + #meme_theme.image h3{
	margin-bottom: 35px;
	margin-top: 2px;
}

.post + #meme_theme a.recherche {
    position: absolute;
    right: 0;
    top: 11px;
}

.post + #meme_theme li a{
	color:#666;
}

.post + #meme_theme li{
	/*background: url("img/chevron_gris.png") no-repeat scroll left 6px transparent;*/
	background: none;
	margin-bottom: 0;
	padding-left: 0;
}

.post + #meme_theme li:before{
	content:' » ';
	color:#666;
}

.post_archive, .post .post_content, .post, .comments-template, #sous_categories, .pagination{
    width: 680px;
}

.post_archive, .pagination{
	background: url("img/pointille-gris.png") repeat-x scroll left bottom transparent;
}

.pagination.basse, .post_content ul.liste_attachements{
	background: url("img/pointille-gris.png") repeat-x scroll left top transparent;
}

#centre div article.post_archive:last-child{
	background: none;
}

.post_content.resume p{
	display:inline;
}

.post_content img.alignleft{
	float:left;
	margin:0.3em 1em 1em 0em;
}

.post_content img.alignright{
	float:right;
	margin:0.3em 0em 1em 1em;
}

.post_content img.aligncenter{
	margin:0.3em 1em 1em;
}

.clear{
	clear:both;
}

article.biographie h2, article.biographie h4.tag{
	margin-bottom: 5px;
}

article + .pagination{
	background: none;
}

.post{
	border-bottom: 1px solid #CCCCCC;
}

.post a.suite{
	display: inline-block;
}

.comments-template{
	border-top:4px solid #EDEDED;
}

h3.date{
	margin-bottom: 15px;
    margin-top: 5px;
    text-transform: uppercase;
}

h3.date span{
	/*padding-left:11px;
	background: url("img/puce_auteur.png") no-repeat left center;*/
}

p.categories_et_tags a, p.categories_et_tags, p.tags{
    font-family: "signikaregular", "futura-pt", Arial, sans-serif;
	color:#000;
}

p.categories_et_tags span.titre_mot_cle{
	color:#999;
	font-size:1.05em;
	font-family: "signikasemibold", "futura-pt", Arial, sans-serif;
}

p.tags{
	color:#999;
}

/*.categories a:first-child{
	display:none;
}

.categories.premier_niveau a:first-child{
	display:inherit;
}*/

.categories_et_tags span.tags{
	text-transform: uppercase;
	font-size:0.85em;
	/*padding-left:6px;
	background: url("img/puce_tags.png") no-repeat left 4px;*/
}

p.tags span.tags{
	text-transform: uppercase;
    color: #000000;
    font-size: 0.7em;
    padding-left: 0;
}

.categories_et_tags > span.categories a:last-child:after{
	content:'';
}

#entete h1:before, .pagination a.precedent:before{
	content:' « ';
}

#entete h1:after, .pagination a.suivant:after, .categories_et_tags > span.categories > a:after, #respond:after{
	content:' » ';
}

#entete h1.sans:after, #entete h1.sans:before{
	content:'';
}

#entete h1{
	text-transform: uppercase;
}

#entete h1 a{
	border-bottom: 10px solid #FF3333;
    display: inline-block;
    letter-spacing: 0.025em;
    padding-bottom: 2px;
}

#texte_tag{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
	width: 680px;
} 

#texte_tag p{
	margin-bottom: 10px;
}

#frise, #sous_categories{
	background: #f3f3f3;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#frise{
	width:650px;
	position:relative;
	min-height: 40px;
}

#frise.large{
	height: 30px;
    overflow: hidden;
    position: relative;
    width: 680px;
}

#frise ul{
	display: inline-block;
    padding-right: 15px;
}

#frise ul.categorie{
	padding-top: 10px;
	width:3000px;
}

#frise.large ul {
    left: 0;
    position: absolute;
    top: 0;
    padding-right: 0;
    width: auto;
}

#frise ul > li{
	vertical-align: middle;
	height: 31px;
	padding-right: 17px;
}

#frise a#regards{
	display: block;
    position: absolute;
    right: 30px;
    top: 10px;
}

#frise .conteneur_annees{
	width:450px;
	overflow: hidden;
}

#frise.large ul > li{
	padding-right:19px;
}

#frise ul.categorie > li{
	display: inline-block;
}

#frise.biographie ul > li{
	padding-right: 15px;
}

#frise a#regards{
	background: url("img/puce_sidebar.png") no-repeat scroll left center transparent;
    padding-left: 20px;
    color:#666;
}

#frise ul > li > a{
	color:#666;
}

#frise.biographie{
	width:665px;
	padding-left: 15px;
	text-transform: uppercase;
	min-height:28px;
}

#frise.biographie li.actif a{
	color:#ff0000;
}

.post_content.biographie{
	display:table;
}

.post_content.biographie > div{
	display:table-cell;
	vertical-align: top;
}

.attachment-biographie{
	padding-left: 30px;
	width:200px;
}

#sous_categories > ul > li{
	display:inline-block;
	width:185px;
	padding-left: 30px;
}

#sous_categories > ul > li > a{
	color:#666;
}

.pagination{
	padding-bottom:5px;
	text-align: right;
	height: 18px;
}

.pagination a, .pagination span.current, .pagination span.dots{
	text-transform: uppercase;
	color:#666;
	margin-left: 10px;
}

.pagination span.current{
	color:#f23a3a;
	border-bottom:1px solid #f23a3a;
}

#breadcrumbs, #breadcrumbs a, #breadcrumbs strong{
	color:#333;
	font-family: "signikaregular", "futura-pt", Arial, sans-serif;
	font-weight: normal;
}

.post_archive ul.liste_attachements{
	margin-top:5px;
}

#comments, #comments_bis, .commentmetadata, .commenttext, .commentmetadata a, #respond, p.nocomments{
	color:#666;
}

#respond:hover, #comments:hover, #comments_bis:hover{
	cursor:pointer;
}

#comments_bis{
	display:none;
}

.commentmetadata a{
	padding-left:6px;
	background: url('img/puce_tags.png') no-repeat left 10px;
}

.commentmetadata a.comment-edit-link{
	background: none repeat scroll 0 0 transparent;
    display: block;
    margin-bottom: 7px;
    margin-top: -6px;
    padding-left: 0;
}

.commenttext{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
}

.commentlist{
	display:none;
}

.commentlist li{
	background:#EDEDED;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	padding-top:8px;
	margin-bottom: 18px;
}

#commentform{
	display: none;
	margin-top: 20px;
}

#commentform p{
	margin-bottom: 15px;
}

#commentform textarea, #commentform input[type="text"]{
	border:1px solid #d5d5d5;
	background: #fcfcfc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: "signikaregular", "futura-pt", Arial, sans-serif;
	color:#333;
	font-size:1.1em;
}

#commentform label{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
	padding-left:7px;
}

#commentform input[type="text"]{
	height:16px;
	width:190px;
	padding:2px 10px;
}

#commentform textarea{
	padding:20px 30px;
	line-height:1.7em;
	width: 620px;
}

#commentform input[type="submit"] {
    background: none repeat scroll 0 0 #999999;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    height: auto;
    padding: 0 3px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

#entete, #entete > div.conteneur{
	position:relative;
}

#entete > div.conteneur{
	margin-top: -10px;
}

.nombre_resultat{
	bottom: 4px;
    color: #333333;
    font-family: "signikabold","futura-pt",Arial,sans-serif;
    left: 0;
    position: absolute;
    text-transform: uppercase;
}

h4.resultats{
	color:#333;
	text-transform: uppercase;
	font-family: "signikaregular", "futura-pt", Arial, sans-serif;
	font-weight: normal;
}

.frm-show-form {
	margin-top: 20px;
	margin-bottom: 20px;
}

.with_frm_style .frm_form_field.freres{
	clear: none;
    float: left;
    width: 270px;
}

.frm-show-form input[type="text"], .frm-show-form input[type="password"], .frm-show-form input[type="email"], .frm-show-form input[type="number"], 
.frm-show-form  input[type="url"], .frm-show-form input[type="tel"], .frm-show-form textarea{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.post_content .with_frm_style .frm-show-form input[type="email"]{
	width:166px;
}

.post_content .with_frm_style .frm_left_container label.frm_primary_label {
    padding-top: 2px;
}

.post_content .with_frm_style .frm-show-form textarea{
	width:570px;
	padding:3px 10px;
	line-height:1.7em;
	color:#333333;
	font-family: "signikaregular", "futura-pt", Arial, sans-serif;
	font-size:1em;
	max-width: 570px;
}

.post_content .frm_form_fields .frm_form_field.textarea label{
	color:#333;
	font-family: "signikasemibold","futura-pt",Arial,sans-serif;
}

.post_content .with_frm_style p.submit {
    text-align: right;
}

.post_content .frm-show-form input[type="submit"]{
    text-transform: uppercase;	
}

#liste_images figure, #meme_theme figure{
	display: inline-block;
    margin-right: 13px;
    width: 124px;
    vertical-align: top;
}

#meme_theme figure{
	margin-right: 12px;
}

#liste_images figure.sans, #meme_theme figure.sans{
	margin-right: 0;
}

#liste_images figure > div.miniature, #meme_theme figure > div.miniature{
	background: none repeat scroll 0 0 #F3F3F3;
    display: table-cell;
    height: 124px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
    width: 124px;
}

#liste_images figure > div.miniature img, #meme_theme figure > div.miniature img{
	margin:auto;
}

#liste_images figure > div.grand_format{
	position:absolute;
	left:94px;
	top: 94px;
	z-index: 1;
	background: #333;
	padding: 13px;
	border: 1px solid  #666;
	display:none;
}

#liste_images figure:hover > div.grand_format{
	display:block;
}

#liste_images figure > div.grand_format h4, #liste_images figure > div.grand_format h5{
	color:#fff;
}

#liste_images figure > div.grand_format h4{
	text-transform: uppercase;
	margin-bottom: 3px;
	margin-top: 7px;
}

#liste_images figure p, #meme_theme figure p{
	text-transform: uppercase;
	font-family: "signikaregular", "futura-pt", Arial, sans-serif;
	margin-top: 5px;
}

#filtres{
	border-top: 1px solid  #ccc;
	border-bottom: 1px solid  #ccc;
	color:#666;
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
	width: 680px;
}

#filtres.affiches{
    background: none repeat scroll 0 0 #FFFFFF;
    left: 0;
    position: absolute;
    top: 76px;
    z-index: 1;
}

#filtres > div{
	border-top: 3px solid  #ededed;
	padding-top: 7px;
	min-height: 27px;
}

#filtres > div.conteneur{
	border-top: none;
	padding-top: 0px;
}

#filtres > div.image{
	padding-top:7px;
}

#filtres > div.bordure{
	border-top: none;
	border-bottom: 3px solid  #ededed;
	padding-top: 0;
	min-height: 0;
}

#filtres > div.bordure.image {
    padding-bottom: 0px;
}

#filtres > div.conteneur{
	display:none;
	padding-bottom: 10px;
}

#filtres > div.conteneur > section{
	margin-bottom: 7px;
}

#filtres > div.conteneur > section > div:first-child{
	width:175px;
}

#filtres > div.conteneur > section li{
	display:inline-block;
	margin-right: 7px;
	line-height:1em;
}

#filtres > div.conteneur > section li a{
	color:#666;
}

#filtres > div.conteneur > section li a:hover{
	font-family: "signikasemibold", "futura-pt", Arial, sans-serif;
}

#filtres p.filtre{
	background: url("img/chevrons_filtre.png") no-repeat scroll 15px 8px transparent;
    display: inline-block;
    cursor: pointer;
    float:left;
}

#filtres #filtres_actifs{
	display: inline-block;
    width: 440px;
}

#filtres #filtres_actifs li{
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E5E5E5;
    display: inline-block;
    padding: 3px 21px 2px 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: -3px;
}

#filtres #filtres_actifs li a{
	color:#666;
}

#filtres #filtres_actifs li a:after{
	color: #999999;
    content: "x";
    font-size: 16px;
    margin-top: -1px;
    padding-left: 8px;
    position: absolute;
}

.pagination.affiches{
	margin-top:110px;
}

.post_content.image{
	border:none;
	padding: 15px;
	background: #f3f3f3;
	width: 650px;
}

.post + #meme_theme.image{
	border-bottom: none;
}

.post_content .conteneur_image{
	width:310px;
	text-align: center;
}

.post_content .conteneur_image + div{
	padding-left:15px;
}

.post_content .texte_image h2{
	text-transform: uppercase;
	margin-bottom: 16px;
	margin-top: -3px;
}

.post_content .texte_image p{
	margin-bottom: 4px;
	color:#666;
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
}

.post_content .texte_image p span{
	display:inline-block;
}

.post_content .texte_image p span.court{
	width: 75px;
}

.post_content .texte_image p span.moyen{
	width: 110px;
}

.post_content .texte_image p span.long{
	width: 145px;
}

.post_content .texte_image p span.full{
	display:block;
}

.post_content .texte_image p span.couleur{
	margin-right: 10px;
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
	font-weight: normal;
}

.post_content .texte_image p.mb1{
	margin-bottom: 10px;
}

.texte_article_image p{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
}

.image .filtre a{
	color:#666;
}

.image .filtre a:before{
	content:' « ';
}

#filtres .image p.filtre{
	padding-left: 17px;
	background: none;
}

#centre .newsletter .frm_form_fields{
	width:225px;
	float: left;
	margin-right: 10px;
	margin-top: 20px;
}

#centre .newsletter input[type="email"]{
	color: #999999;
    font-size: 0.8em;
    width: 225px;
}

#centre .newsletter p.submit{
	float: left;
    margin-top: 18px;
}

#centre .newsletter input[type="submit"]{
	background: none;
	color:#b1b1b1;
	cursor: pointer;
}

#centre .newsletter .with_frm_style .form-field{
	margin-bottom: 10px;
}

/*** 404 ***/
.p404 p{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
}


/* ----------------------------- */
/* ==iefix */
/* ----------------------------- */

/* haslayout for IE6/IE7 */
.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
	zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
	display: inline;
	zoom: 1;
}
.ie8 img {
	width: auto; /* @bugfix for IE8 */
}

/* Active box-sizing for IE6/IE7 */
/* @source https://github.com/Schepp/box-sizing-polyfill */
/*
.ie67 * {
	behavior: url(/js/boxsizing.htc);
}
*/

/* ----------------------------- */
/* ==print */
/* ----------------------------- */

/* quick print reset */
@media print {
	p,
	blockquote {
		orphans: 2;
		widows: 2;
	}
	blockquote,
	ul,
	ol {
		page-break-inside: avoid;
	}
	h1,
	h2,
	h3,
	caption {
		page-break-after: avoid;
	}
}

/* ----------------------------- */
/* ==desktop medias */
/* ----------------------------- */

@media (min-width: 641px) {
	/* here go rules for big resources and big screens like: background-images, font-faces, etc. */
}

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
	html,
	body {
		-webkit-text-size-adjust: 100%;
	}
}