@charset "UTF-8";

/*
 * www.KNACSS.com V2.5b @author: Raphael Goetter, Alsacreations
 * Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
 */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- reset
2- layout and modules
3- header
4- sidebar
5- footer
6- forms
7- main
8- iefix
9- print
10- desktop medias
11- mobile
*/

/* ----------------------------- */
/* ==reset */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
@font-face {
    font-family: 'signikabold';
    src: url('fonts/signika-bold.eot');
    src: url('fonts/signika-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/signika-bold.woff') format('woff'),
         url('fonts/signika-bold.ttf') format('truetype'),
         url('fonts/signika-bold.svg#signikabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('fonts/signika-regular.eot');
    src: url('fonts/signika-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/signika-regular.woff') format('woff'),
         url('fonts/signika-regular.ttf') format('truetype'),
         url('fonts/signika-regular.svg#signikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikalight';
    src: url('fonts/signika-light.eot');
    src: url('fonts/signika-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/signika-light.woff') format('woff'),
         url('fonts/signika-light.otf') format('truetype'),
         url('fonts/signika-light.svg#signikalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #ededed;
	color: #000;
	font-family: helvetica, arial, sans-serif;
}

.invisible{
	display: none;
}

#page{
	width:1000px;
	margin:auto;
	background-color:#fff;
}

.very_biggest{
	font-size:3.6em;
	line-height:1em;
}

.little_very_biggest{
	font-size:3em;
	line-height:1em;
}

.very_bigger{
	font-size:2.4em;
	line-height:1em;
}

.biggest{
	font-size:1.8em;
	font-style:italic;
}

.bigger{
	font-size:2em;
	line-height:1.1em;
}

.big{
	font-size:1.8em;
	line-height:1.2em;
}

.normal{
	font-size:1.6em;
	line-height:1.2em;
}

.small{
	font-size:1.5em;
	line-height:1.25em;
}

.little_small{
	font-size:1.4em;
	line-height: 1em;
}

.smaller{
	font-size:1.3em;
}

.smallest{
	font-size:1.2em;
}

.very_smaller{
	font-size:1.1em;
}

.very_smallest{
	font-size:1em;
}

#menus li > a, #nuage_sidebar a, footer #nuage a, h3#comments{
	font-family:"futura-pt", sans-serif;
	font-weight:300;
	font-style:normal;
}

#logo h2{
	font-family:"futura-pt", sans-serif;
	font-weight:300;
	font-style:italic;
}

textarea{
	font-family:"futura-pt", sans-serif;
	font-weight:400;
	font-style:normal;
}

#logo h1, #sur_menu li a, #menu_sidebar li a, aside section > h3 > a, footer a, #actualites .row .col + a > article > h4, 
#regards .row > article > h4, #meme_theme h3, #meme_theme a.recherche, #agenda article > h3, #agenda article > h4, h3.date, #frise ul + a,
#frise ul > li > a, .pagination a, .pagination span.current, .pagination span.dots, #sous_categories > ul > li > a, h3#comments span, 
.commentmetadata p, #respond, aside section h3 > span{
	font-family:"futura-pt", sans-serif;
	font-weight:700;
	font-style:normal;
}

h3#comments .titre{
	font-family:"futura-pt", sans-serif;
	font-weight:700;
	font-style:italic;
}

h3.titre, h2.titre, h2.titre a, #entete h1{
	font-family:"futura-pt", sans-serif;
	font-weight:800;
	font-style:normal;
}

#entete h1 a{
	font-family:"futura-pt", sans-serif;
	font-weight:800;
	font-style:italic;
}

h2.titre a{
	line-height:1.1em;
}

#agenda article:hover > h3, #agenda article:hover > h4, #agenda article:hover > div > p, #logo > h1, #sur_menu li a:hover, #regards a.suite:hover, 
#actualites a.col:hover article > *, #meme_theme li:hover, .post + #meme_theme li:hover, #regards a.suite:hover span, #actualites a.col:hover span, 
#meme_theme li:hover a, .post + #meme_theme li:hover a, footer a:hover, footer #nuage a:hover, a.suite:hover span, #menu_sidebar li a:hover, 
#nuage_sidebar a:hover, #sous_categories > ul > li > a:hover, .pagination a:hover, li.telechargement a:hover, article.post_archive.resume:hover *,
#frise.biographie a:hover, section.sidebar li a:hover, #frise ul > li > a:hover{
	color:#188e7c;
}

article.post_archive.resume:hover h4.tag span{
	background:#188e7c;
}

article.post_archive.resume:hover h3.date span{
	background: url("img/puce_auteur_actif.png") no-repeat scroll left center transparent;
}

article.post_archive.resume:hover .categories_et_tags span.tags {
    background: url("img/puce_tags_actif.png") no-repeat scroll left 4px transparent;
}

#menus li > a:hover, #menus #menu_secondaire a:hover{
	color:#fff;
}

#menus li > a, #regards a.suite span, #meme_theme li a, #menu_sidebar li a, #nuage_sidebar a, #sur_menu li a, footer a, 
footer #nuage a, a.suite span, #sous_categories > ul > li > a, .pagination a, li.telechargement a, section.sidebar li a {
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	-ms-transition: color .2s ease-out; 
	-khtml-transition: color .2s ease-out;
	transition: color .2s ease-out;
}


/* soft reset */
html,body,textarea,figure,label,h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 0em;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	/*word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;*/
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
	position: absolute;
}
.skip-links a {
	position: absolute;
	left: -9999px;
	padding: 0.5em;
	background: #000;
	color:#fff;
	text-decoration: none;
}
.skip-links a:focus {
	position: static;
}


/* table layout */
/* ------------------ */
.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.row > *,
.col {
	display: table-cell;
	vertical-align: top;
}

/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
	clear: both;
}

/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
	content: "";
	display: table;
	clear: both;
}

/* alignments (blocks and inline) */
/* ------------------------------ */

/* left elements */
.left {
	float: left;
}
img.left {
	margin-right: 1em;
}

/* right elements */
.right {
	float: right;
}
img.right {
	margin-left: 1em;
}

img.left, img.right {
	margin-bottom: 5px;
}

.center    { margin: auto; }
.txtleft   { text-align: left; }
.txtright  { text-align: right; }
.txtcenter { text-align: center; }

/* just inline-block */
.inbl {
	display: inline-block;
	vertical-align: top;
	margin-right: -.25em;
}

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n = small(10px),medium(20px),large(30px),none(0)
source https://github.com/stubbornella/oocss/blob/master/core/spacing/space.css
*/
.m-reset, .ma0 { margin: 0; }
.p-reset, .pa0 { padding: 0; }
.ma1, .mas { margin: 10px; }
.ma2, .mam { margin: 20px; }
.ma3, .mal { margin: 30px; }
.pa1, .pas { padding: 10px; }
.pa2, .pam { padding: 20px; }
.pa3, .pal { padding: 30px; }
.pa4, .pasl { padding: 40px; }

.mt0, .mtn { margin-top: 0; }
.mt1, .mts { margin-top: 10px; }
.mt2, .mtm { margin-top: 20px; }
.mt3, .mtl { margin-top: 30px; }
.mt4, .mtsl { margin-top: 40px; }
.mr0, .mrn { margin-right: 0; }
.mr1, .mrs { margin-right: 10px; }
.mr2, .mrm { margin-right: 20px; }
.mr3, .mrl { margin-right: 30px; }
.mr4, .mrsl { margin-right: 40px; }
.mb0, .mbn { margin-bottom: 0; }
.mb1, .mbs { margin-bottom: 10px; }
.mb2, .mbm { margin-bottom: 20px; }
.mb3, .mbl { margin-bottom: 30px; }
.mb4, .mbsl { margin-bottom: 40px; }
.ml0, .mln { margin-left: 0; }
.ml1, .mls { margin-left: 10px; }
.ml2, .mlm { margin-left: 20px; }
.ml3, .mll { margin-left: 30px; }
.ml4, .mlsl { margin-left: 40px; }

.pt0, .ptn { padding-top: 0; }
.pt1, .pts { padding-top: 10px; }
.pt2, .ptm { padding-top: 20px; }
.pt3, .ptl { padding-top: 30px; }
.pt4, .ptsl { padding-top: 40px; }
.pr0, .prn { padding-right: 0; }
.pr1, .prs { padding-right: 10px; }
.pr2, .prm { padding-right: 20px; }
.pr3, .prl { padding-right: 30px; }
.pr4, .prsl { padding-right: 40px; }
.pb0, .pbn { padding-bottom: 0; }
.pb1, .pbs { padding-bottom: 10px; }
.pb2, .pbm { padding-bottom: 20px; }
.pb3, .pbl { padding-bottom: 30px; }
.pb4, .pbsl { padding-bottom: 40px; }
.pl0, .pln { padding-left: 0; }
.pl1, .pls { padding-left: 10px; }
.pl2, .plm { padding-left: 20px; }
.pl3, .pll { padding-left: 30px; }
.pl4, .plsl { padding-left: 40px; }


/* ----------------------------- */
/* ==header */
/* ----------------------------- */
#sur_menu{
	position:absolute;
	top:19px;
	right:200px;
}

#recherche{
	position:absolute;
	top:15px;
	right:6px;
}

header{
	position:relative;
	padding-top:35px;
}

#logo{
	padding-left:275px;
	margin-bottom:20px;
	margin-top:-5px;
}

#logo > h1{
	text-transform:uppercase;
	margin-bottom: 5px;
}

#logo > img{
	position:absolute;
	right:30px;
	top:50px;
}

header > h1{
	background: url("img/logo.png") no-repeat scroll 0 0 transparent;
    height: 222px;
    left: 0;
    position: absolute;
    top: 0;
    width: 259px;
    z-index: 1;
}

header > h1 > a{
	height: 222px;
	width: 259px;
	display: block;
}

#sur_menu li{
	float:left;
	margin-right:15px;
}

#sur_menu li a{
	text-transform: uppercase;
	color:#333;
}

#menus{
	background:#000;
	height:30px;
	padding-left:185px;
	margin-bottom:85px;
}

#menus li{
	float:left;
}

#menus li > a{
	text-transform:uppercase;
	color:#ddd;
	display:block;
	float:left;
	padding:5px 15px;
	font-weight:bold;
	position:relative;
	z-index:2;
}

#menus #menu_secondaire a{
	color:#bbb;
}

#menu_secondaire{
	float:right;
}

#menus #menu_secondaire li:last-child a{
	padding-right: 0px;
}

#recherche input[type="submit"]{
	border:none;
	background:url('img/loupe.png') no-repeat;
	width:16px;
	height:16px;
}

#recherche input[type="text"]{
	border: 1px solid #D5D5D5;
    color: #A5A5A5;
    margin-right: 5px;
    padding: 3px 10px;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px; 
	-khtml-border-radius: 2px; 
	border-radius: 2px;
	behavior: url(PIE.php);
}

/* ----------------------------- */
/* ==sidebar */
/* ----------------------------- */

#centre + aside{
	width:200px;
	border-left:1px solid #ccc;
}

#menu_sidebar, #nuage_sidebar{
	line-height:1em;
}

#menu_sidebar li a{
	text-transform: uppercase;
	margin-bottom:3px;
	color:#333;
	display:block;
}

#nuage_sidebar a{
	background: url("img/puce_sidebar.png") no-repeat scroll right 10px transparent;
    color: #666666;
    font-size: 1.05em;
    font-weight: 600;
    padding-right: 7px;
    margin-right: -4px;
}

aside section h3 {
	color:#fff;
	text-transform: uppercase;
}

aside section h3 > span{
	background-color: #FF3333;
    display: inline-block;
    padding: 1px 6px;
}

aside section h3:hover > span{
	background-color:#188e7c;
}

#slider p{
	margin: 10px 0 3px;
    text-transform: uppercase;
}

section.sidebar p, section.sidebar li{
	font-family: "signikaregular", "futura-pt", Arial, sans-serif;
}

section.sidebar li{
	font-size:1.3em;
	color:#000;
}

section.sidebar li a{
	color:#666;
}

/* ----------------------------- */
/* ==footer */
/* ----------------------------- */

footer{
	background-color: #333;
}

footer #nuage{
	width:370px;
}

footer li{
	margin-bottom:5px;
}

footer a{
	color:#ededed;
}

footer #nuage a{
	background: url("img/puce_footer.png") no-repeat scroll right 11px transparent;
    color: #EDEDED;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.1;
    margin-right: 1px;
    padding-right: 7px;
}

#menu_footer_2{
	padding-left: 40px;
}

#facebook, #twitter{
	display:block;
	margin: -1px 10px 5px 0px;
}

#facebook{
	float: left;
}

#menu_footer_3{
	clear: both;
}

#menu_footer_2 + div{
	padding-left: 20px;
}

/* ----------------------------- */
/* ==forms */
/* ----------------------------- */
form,
fieldset {
	border: none;
}
input,
button,
select,
label {
	vertical-align: middle; /* @bugfix alignment */
}
textarea {
	resize: vertical;
	font-family: inherit;
}

/* ----------------------------- */
/* ==main */
/* ----------------------------- */

#centre{
	clear:both;
	border-right:4px solid #ededed;
}

#agenda h2, #actualites h2, #regards h2, h4.tag{
	text-transform: uppercase;
	margin-bottom:16px;
	font-family:"signikabold", "futura-pt", "Helvetica", sans-serif;
	font-weight:normal;
}

h4.tag a{
	color:#000;
}

.post_archive h4.tag{
	margin-bottom: 10px;
}

.post h4.tag{
	margin-bottom: 0px;
}

#agenda h2 > span, #actualites h2 > span, #regards h2 > span, h4.tag span{
	display:block;
	float:left;
	margin-right:8px;
	height:10px;
	width:30px;
	background-color: #000;
	margin-top:3px;
}

#agenda{
	height: 500px;
    overflow: hidden;
    position: absolute;
    width: 711px;
    z-index: 2;
}

#agenda .conteneur{
	width: 1711px;
}

#agenda article{
	/*background: url("img/fd_agenda.png") repeat scroll 0 0 transparent;*/
	background:#f6f6f6;
    border: 1px solid #E5E5E5;
    float: left;
    min-height: 152px;
    margin-right: 31px;
    width: 164px;
}

#agenda article:hover{
	-moz-box-shadow: 0 0px 8px #ccc;
	-webkit-box-shadow: 0 0px 8px #ccc; 
	box-shadow: 0 0px 8px #ccc;  
}

#agenda article > h3{
	color:#ff3333;
	text-transform: uppercase;
	margin-bottom:3px;
}

#agenda article #complet{
	display:none;
}

#agenda article:hover #complet{
	display:block;  
}

#agenda article:hover #resume{
	display:none;  
}


#agenda article > h4, #agenda article > div > p{
	color:#333;
}

#agenda article > div > p{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
	margin-top:4px;
}

#navigation_curseur{
	position: absolute;
    right: 30px;
    top: 10px;
}

#navigation_curseur.large{
	border-top: 3px solid #EDEDED;
    padding-top: 20px;
    position: relative;
    right: inherit;
    top: inherit;
}

#navigation_curseur li{
	display:block;
	float:left;
	margin-left: 8px;
	background: url('img/points_nav.png') no-repeat center 0px;
	height:11px;
	width:10px;
	position: relative;
	z-index:1;
	cursor: pointer;
}

#navigation_curseur.large li{
	margin-left: 0;
    margin-right: 11.6px;
}

#navigation_curseur.large li:last-child{
	margin-right: 0px;
}

#navigation_curseur li.actif{
	background: url('img/points_nav.png') no-repeat center -11px;
}

#navigation_curseur li.super_actif {
    background: url("img/points_nav.png") no-repeat scroll 0 -22px transparent;
    height: 13px;
    margin-right: 9.6px;
    margin-top: -1px;
    width: 12px;
}

#navigation_curseur li.precedent, #navigation_curseur li.suivant{
	height:12px;
	margin-top: -1px;
}

#navigation_curseur li.precedent{
	background: url('img/icn_precedent_nav.png') no-repeat 0px 0px;
}

#navigation_curseur li.suivant{
	background: url('img/icn_suivant_nav.png') no-repeat 0px 0px;
}

#navigation_curseur li#curseur, #navigation_curseur li#curseur_large{
	background: none repeat scroll 0 0 #CCCCCC;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 15px;
    left: 32px;
    position: absolute;
    top: -2px;
    width: 54px;
    z-index: 0;
}

#navigation_curseur li#curseur_large{
	left: 13px;
    top: 18px;
    width: 264px;
}

#relatif_tag{
	border-bottom: 1px solid #CCCCCC;
	width: 680px;
}

#actualites{
	margin:268px 0px 60px;
}

#actualites .row .col:first-child{
	width:300px;
}

#actualites a.col > *{
	color:#000;
}

h3.titre, h2.titre, h2.titre a{
	text-transform: uppercase;
	color:#ff3333;
	margin-bottom:2px;
	margin-top:-5px;
}

h2.titre, h2.titre a{
	margin-bottom:0;
}

.post h2.titre{
	margin-top:0px;
	margin-bottom: 2px;
}

#actualites .row .col + a > article > h4, #regards .row > article > h4{
	text-transform: uppercase;
}

#actualites .row .col + a > article > h4 > span:before, #regards .row > article > h4 > span:before{
	content:'•';
}

#actualites article > div, #regards article > div{
	background:url('img/grand_sep.png') repeat-x left bottom;
}

#actualites a.col:hover article > div{
	background:url('img/grand_sep_actif.png') repeat-x left bottom;
}

#actualites article > div > p, #regards article > div > p, .post_content p{
	line-height:1.2em;
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
}

#regards .row > article{
	width:420px;
}

#actualites > .row, #regards > .row{
	width:680px;
}

a.suite, #meme_theme li, li.telechargement, p.suite{
	color:#FF3333;
	background:url('img/chevron_rouge.png') no-repeat left center;
	padding-left:12px;
	font-family: "signikabold", "futura-pt", Arial, sans-serif;
}

a.suite span, #meme_theme li a, li.telechargement a, p.suite span{
	text-decoration: underline;
	color:#FF3333;
}

a.suite:hover, a.col:hover p.suite, #meme_theme li:hover, .post + #meme_theme li:hover, li.telechargement:hover, article.post_archive.resume:hover a.suite{
	background:url('img/chevron_vert.png') no-repeat left center;
}

#meme_theme li{
	margin-bottom:3px;
}

#meme_theme h3{
	background-color: #FF3333;
    color: #FFFFFF;
    margin-top: 1px;
    padding: 1px 6px 0;
    text-transform: uppercase;
}

#meme_theme h4{
    text-transform: uppercase;
    margin-top:7px;
    font-family: "signikaregular", "futura-pt", Arial, sans-serif;
    font-weight:normal;
}

#meme_theme a.recherche{
	background: url("img/chevron_blanc.png") no-repeat scroll 168px 6px #FF3333;
    color: #FFFFFF;
    display: block;
    padding: 1px 20px 0px 6px;
    text-transform: uppercase;
    width: 158px;
}

#meme_theme a.recherche:hover{
	background-color:#188e7c;
}

.post + #meme_theme{
	border-top:4px solid #EDEDED;
	border-bottom: 1px solid #CCCCCC;
	width:680px;
	position:relative;
}

.post + #meme_theme h3{
	display: inline-block;
}

.post + #meme_theme a.recherche {
    position: absolute;
    right: 0;
    top: 11px;
}

.post + #meme_theme li a{
	color:#666;
}

.post + #meme_theme li{
	background: url("img/chevron_gris.png") no-repeat scroll left 6px transparent;
	margin-bottom: 0;
}

.post_archive, .post .post_content, .post, .comments-template, #sous_categories, .pagination{
    width: 680px;
}

.post_archive, .post .post_content, .pagination, #texte_tag{
	background: url("img/sep_articles.png") no-repeat scroll left bottom transparent;
}

.post_content.resume p{
	display:inline;
}

article.biographie h2, article.biographie h4.tag{
	margin-bottom: 5px;
}

article + .pagination{
	background: none;
}

.post{
	border-bottom: 1px solid #CCCCCC;
}

.post a.suite{
	display: inline-block;
}

.comments-template{
	border-top:4px solid #EDEDED;
}

h3.date{
	text-transform: uppercase;
}

h3.date span{
	padding-left:11px;
	background: url("img/puce_auteur.png") no-repeat left center;	
}

p.categories_et_tags a, p.categories_et_tags{
    font-family: "signikaregular", "futura-pt", Arial, sans-serif;
	color:#000;
}

.categories a:first-child{
	display:none;
}

.categories_et_tags span.tags{
	text-transform: uppercase;
	font-size:0.85em;
	padding-left:6px;
	background: url("img/puce_tags.png") no-repeat left 4px;
}

.categories_et_tags > span.categories a:last-child:after{
	content:'';
}

#entete h1:before, .pagination a.precedent:before{
	content:' « ';
}

#entete h1:after, .pagination a.suivant:after, .categories_et_tags > span.categories > a:after, #respond:after{
	content:' » ';
}

#entete h1.sans:after, #entete h1.sans:before{
	content:'';
}

#entete h1{
	color:#FF3333;
	text-transform: uppercase;
}

#entete h1 a{
	border-bottom: 10px solid #FF3333;
    color: #FF3333;
    display: inline-block;
    letter-spacing: 0.025em;
    padding-bottom: 2px;
}

#texte_tag{
	font-family: "signikalight", "futura-pt", Arial, sans-serif;
} 

#texte_tag p{
	margin-bottom: 10px;
}

#frise, #sous_categories{
	background: #EDEDED;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#frise{
	width:650px;
}

#frise ul{
	padding-right: 15px;
    width: 57%;
}

#frise ul > li, #frise ul + a{
	vertical-align: middle;
	height: 31px;
	padding-right: 17px;
}

#frise.large ul > li{
	padding-right:14px;
}

#frise ul > li.actif a{
	color:#ff3333;
}

#frise.biographie ul > li{
	padding-right: 15px;
}

#frise ul + a{
	background: url("img/puce_sidebar.png") no-repeat scroll left center transparent;
    padding-left: 20px;
    color:#333;
}

#frise ul > li > a{
	color:#666;
}

#frise.biographie{
	width:665px;
	padding-left: 15px;
}

#frise.biographie li.actif a{
	color:#ff0000;
}

.post_content.biographie{
	display:table;
}

.post_content.biographie > div{
	display:table-cell;
	vertical-align: top;
}

.attachment-biographie{
	padding-left: 30px;
	width:200px;
}

#sous_categories > ul > li{
	display:inline-block;
	width:185px;
}

#sous_categories > ul > li > a{
	color:#666;
}

#sous_categories > ul > li > a.actif{
	color:#FF3333;
}

.pagination{
	padding-bottom:5px;
	text-align: right;
}

.pagination a, .pagination span.current, .pagination span.dots{
	text-transform: uppercase;
	color:#666;
	margin-left: 10px;
}

.pagination span.current{
	color:#f23a3a;
	border-bottom:1px solid #f23a3a;
}

#breadcrumbs, #breadcrumbs a, #breadcrumbs strong{
	color:#333;
	font-family: "signikaregular", "futura-pt", Arial, sans-serif;
	font-weight: normal;
}

.post_archive ul.liste_attachements{
	margin-top:5px;
}

#comments, .commentmetadata, .commenttext, .commentmetadata a, #respond{
	color:#666;
}

.commentmetadata a{
	padding-left:6px;
	background: url('img/puce_tags.png') no-repeat left 10px;
}

.commenttext{
	font-family: "signikaregular", "futura-pt", Arial, sans-serif;
}

.commentlist li{
	background:#EDEDED;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	padding-top:8px;
	margin-bottom: 18px;
}

#commentform{
	display: none;
}

#entete{
	position:relative;
}

.nombre_resultat{
	bottom: 4px;
    color: #333333;
    font-family: "signikabold","futura-pt",Arial,sans-serif;
    left: 0;
    position: absolute;
    text-transform: uppercase;
}

h4.resultats{
	color:#333;
	text-transform: uppercase;
	font-family: "signikaregular", "futura-pt", Arial, sans-serif;
	font-weight: normal;
}

/* ----------------------------- */
/* ==iefix */
/* ----------------------------- */

/* haslayout for IE6/IE7 */
.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
	zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
	display: inline;
	zoom: 1;
}
.ie8 img {
	width: auto; /* @bugfix for IE8 */
}

/* Active box-sizing for IE6/IE7 */
/* @source https://github.com/Schepp/box-sizing-polyfill */
/*
.ie67 * {
	behavior: url(/js/boxsizing.htc);
}
*/

/* ----------------------------- */
/* ==print */
/* ----------------------------- */

/* quick print reset */
@media print {
	p,
	blockquote {
		orphans: 2;
		widows: 2;
	}
	blockquote,
	ul,
	ol {
		page-break-inside: avoid;
	}
	h1,
	h2,
	h3,
	caption {
		page-break-after: avoid;
	}
}

/* ----------------------------- */
/* ==desktop medias */
/* ----------------------------- */

@media (min-width: 641px) {
	/* here go rules for big resources and big screens like: background-images, font-faces, etc. */
}

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
	html,
	body {
		-webkit-text-size-adjust: 100%;
	}
}